<% @assets.each do |asset| %>
  <div class="label">
      <table class="label-content">
        <tr>
          <td align="left">
            <img src="/inventory/<%= asset %>/image" />
          </td>
          <td  align="right">
            <%= asset %>
          </td>
        </tr>
      </table>
  </div>
<% end %>