<html>
<head>
  <meta charset="utf-8">
  <style type="text/css">
    body {
      width: 8.5in;
      margin: 0in .1875in;
    }
    .label{
      width: 2.025in; /* plus .6 inches from padding */
      height: .875in; /* plus .125 inches from padding */
      padding: .125in .3in 0;
      margin-right: .125in; /* the gutter */

      float: left;
      
      text-align: center;
      vertical-align: text-top;
      overflow: hidden;

      outline: 1px dotted;
    }
    .label-content {
      position: relative;
      top: 65%;
      transform: translateY(-65%);
      padding: 0px;
      margin: 0px;
    }
    .page-break  {
      clear: left;
      display:block;
      page-break-after:always;
    }
  </style>
</head>
<body>
   <%= yield %>
</body>
</html>